.well {
    background-color: transparent;
}

.selected, a.selected:hover, a.selected:active {
    background-color: #337ab7;
    color: white;
}

#table {
    overflow: auto;
    height: 400px;
}

.btn-group-lg>.btn, .btn-lg {
  font-size: 16px;
}
