.well {
    background-color: transparent;
}

#table{
    overflow: auto;
    height: 400px;
}

.selected, a.selected:hover , a.selected:active {
	background-color: #337ab7;
	color: white;
}

.btn-group-lg>.btn, .btn-lg {
  font-size: 16px;
}
