<p>
    <a class="btn btn-lg btn-link" ng-class="{selected:isActive('index.html')}" role="button" href="index.html">AngularJS
        v1.2.20</a>
    <a class="btn btn-lg btn-link" ng-class="{selected:isActive('index2.html')}" role="button" href="index2.html">AngularJS
        v1.3.9</a>
    <a class="btn btn-lg btn-link" ng-class="{selected:isActive('index3.html')}" role="button" href="index3.html">AngularJS
        v1.4.0</a>
    <a class="btn btn-lg btn-link" role="button" href="../angular2/dist/index.html">AngularJS v2.0.0-alpha25</a>
    <a class="btn btn-lg btn-link" role="button" href="../reactjs/index.html">ReactJS 0.13.0</a>
    <a class="btn btn-lg btn-link" role="button" href="../raw/index.html">HTML DOM</a>
</p>

<p>
    <a class="btn btn-lg btn-success" role="button" ng-disabled="running" ng-click="run(500)">500 records</a>
    <a class="btn btn-lg btn-success" role="button" ng-disabled="running" ng-click="run(1500)">1500 records</a>
    <a class="btn btn-lg btn-success" role="button" ng-disabled="running" ng-click="run(2500)">2500 records</a>
    <a class="btn btn-lg btn-success" role="button" ng-disabled="running" ng-click="run(5000)">5000 records</a>
</p>

<div class="well well-sm">
    <div><span className="text-muted">ngRepeat time:</span> {{duration}} ms</div>
    <div><span className="text-muted">Watchers:</span> {{totalWatchers}}</div>
</div>