<style>
    a.disabled {
        pointer-events: none;
        cursor: default;
    }

</style>


<div class="container">

    <div class="page-header">
        <h1>AngularJS 2.0.0-alpha.25</h1>
        <p class="lead">Render a table using a large dataset</p>
    </div>

    <p>
        <a class="btn btn-lg btn-link" role="button" href="../../angular1/index.html">AngularJS v1.2.20</a>
        <a class="btn btn-lg btn-link" role="button" href="../../angular1/index2.html">AngularJS v1.3.9</a>
        <a class="btn btn-lg btn-link" role="button" href="../../angular1/index3.html">AngularJS v1.4.0</a>
        <a class="btn btn-lg btn-link selected" role="button" >AngularJS v2.0.0-alpha.25</a>
        <a class="btn btn-lg btn-link" role="button" href="../../reactjs/index.html">ReactJS 0.13.0</a>
        <a class="btn btn-lg btn-link" role="button" href="../raw/index.html">HTML DOM</a>
    </p>

    <p>
        <a class="btn btn-lg btn-success" role="button" [class.disabled]="running" (click)="run(500)">500 records</a>
        <a class="btn btn-lg btn-success" role="button" [class.disabled]="running" (click)="run(1500)">1500 records</a>
        <a class="btn btn-lg btn-success" role="button" [class.disabled]="running" (click)="run(2500)">2500 records</a>
        <a class="btn btn-lg btn-success" role="button" [class.disabled]="running" (click)="run(5000)">5000 records</a>
    </p>

    <div class="well well-sm">
        <div><span class="text-muted">Duration to render:</span> {{duration}} ms</div>
    </div>

    <div class="row" id="table">
        <test-table [dataset]="records"></test-table>
    </div>
</div> <!-- /container -->